$primary-color: #ADBF00;
$primary-dark-color: #93A301;
$grenn-earls: #bdcc37;
$green-overtone: #60840f;

$yellow-pine: #faff8a;

$secondary-light-color: #35BCC2;
$secondary-color: #51B7C7;
$secondary-dark-color: #3F95A3;
$blue-elephant: #113945;
$blue-nile: #163f49;
$blue-hippie: #cad099;

$danger-color: #F96464;
$danger-dark-color: #DA6666;
$danger-lighter-color: #FC7676;

$gray-lighter-color: #A4A5B2;
$gray-light-color: #B5B5B5;
$gray-color: #3F404A;
$gray-dark-color: #252525;

$white-bg-color: #fff;

$card-status-fs: 0.8em;

$card-list-grid-gap: 1em;
$card-list-column-min: 250px;
$card-list-column-max: 1fr;
$card-list-margin: 2em 3em;
$card-list-margin-sm: 1em 1.5em;

$form-page-padding: 2%;
